Source: libsvg-vcd-perl
Section: perl
Priority: optional
Maintainer: Mike Taylor <mike@miketaylor.org.uk>
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: perl
Standards-Version: 3.9.2
Homepage: https://github.com/MikeTaylor/VertFigure

Package: libsvg-vcd-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, libsvg-perl
Description: Generate schematic illustrations of vertebral columns
 This project contains VertFigure, a program for generating schematic
 illustrations of vertebral columns.  Input is in the new VCD
 (Vertebral Column Description) format, and output is in SVG (Scalable
 Vector Graphics).
